//links and btns
a,
.text-primary-color{
    color: $primary-color;
    text-decoration: none;
}

.text-grey-color{
    color: $grey-800;
}

.button-primary{
    background-color: $primary-color;
    color: $white-color;
    text-transform: uppercase;
    display: inline-flex;
    font-weight: 600;
    &--large{
        padding: 20px 35px;
        @media #{$md} {
            padding: 10px 15px;
        }
        @media #{$sm} {
            padding: 5px 10px;
        }
    }
}

//h1,h2,h3,h4,h5,h6
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: "Merriweather", Times, serif;
}


h1{
    font-size: 52px;
    @media #{$sm} {
        font-size: 28px;
    }
    @media #{$sm} {
        font-size: 16px;
    }
}

.background-darkgrey{
    background-color: $grey-900;
    color: $grey-200;
    
    a{
        color: $grey-200;
        text-decoration: none;
        &:hover{
            color: $white-color;
        }
    }
}
footer{
    ul{list-style: none;
    li{
        margin: 0 10px;
    }
}
}
main{
    max-width: 1410px;
    margin: auto;
}