.booking-form {
    margin-top: -120px;
    z-index: 2;
    position: relative;
    textarea:focus, input:focus{
        outline: none;
    }
    &>.container {
        background-color: $white-color;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 6px 20px 20px #e9e9e96b;
    }

    label {
        color: $grey-800;
        font-size: 14px;
    }

    select {
        width: 100%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.Monster-Submit {
    background-color: $primary-color;
    text-decoration: none;
    color: $white-color;
    width: 134px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 134px;
    font-size: 0;

    span {
        display: flex;
        align-items: center;

        i {
            font-size: 38px;
        }
    }
}

//select 2 fallback
.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 1px solid transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $black-color;
    font-size: 16px;
}

.select-wrapper {
    position: relative;
    margin-top: 10px;

    .select2 {
        border-bottom: 1px solid $grey-700;
        display: block;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    i.fa {
        position: absolute;
        z-index: 2;
        right: 5px;
        top: 6px;
        background-color: $white-color;
        padding: 0 10px;
    }
}
.date-label{
    padding-bottom: 10px;
}
.date-wrap{
    border-bottom: 1px solid $grey-700;
    padding-bottom: 10px;
    .form-group{
        position: relative;
        margin-bottom: 0;
        bottom: -5px;

        input{
            position: relative;
            z-index: 1;
            font-size: 16px;
            background-color: transparent;
            border: 0;
            padding: 0;
        }
        i.fa {
            position: absolute;
            z-index: 2;
            right: 2px;
            top: 1px;
            background-color: $white-color;
            padding: 0 10px;
        }
    }
}