
@import "/src/scss/branding";
@import "/src/scss/dev-header/variables";
.#{$ProjectName} {
    color: $header-navbar-text-color;
    // height: $header-header-height;
    z-index: 10001;
    position: absolute;
    @at-root{
      .on-page-editor & {
        position: static !important;
      }
    }
  
    top:0;
    left:0;
    @include transition(all $header-transition-time ease);
  
    > div { 
      width: 100%;
    }
    &__wrapper {
      height: $header-header-height;
      flex-flow: row;
      @media #{$sm}{
        flex-flow: column;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    
  
    &__left-section {
      padding-right: 10px;
      z-index: 90;
      @include rtl {
        padding-right: 0;
        padding-left: 10px;
      }
  
      @media #{$sm}{
        width: calc(100% - #{$header-navbar-button-width * $header-navbar-buttons-sm-number});
      margin-bottom: 25px;
      }
      &__logo-menu {
        height: $header-logo-menu-height;
        display: flex;
        padding: 0;
        @media #{$sm}{
          padding: 0;
        }
        @at-root{
          .scrolled &{
            height: $header-scrolled-logo-menu-height;
          }
          .secondary-highlight & {
            display: none;
          }
        }
  
        li {
          width: auto; //for IE
          width: fit-content;
          height: 100%;
          display: flex;
          align-items: center;
  
          &:not(:first-child) {
            margin-left: 20px;
            padding-left: 20px;
            border-left: $header-logo-seprator-boder-width solid
              $header-logo-seprator-boder-color;
  
          
          }
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            height:100%;
          }
          
        }
      }
     
    }
  
    &__right-section {
      position: relative;
  
      @media #{$md} {
        width: calc(100% - #{$header-navbar-button-width * $header-navbar-buttons-sm-number});
        height: 100%;
        // position: absolute;
        right: 0;
        @include rtl {
          left: 0;
          right: auto;
        }
        position: absolute;
        top: 0;
        
      }
      @media #{$md} {
        position: static;
        width: 100%;
      }
  
      &__upper-navigation-menu {
        position: relative;
        height: $header-upper-navigation-menu-height;
        font-size: $header-upper-navigation-menu-font-size;
        font-weight: $header-upper-navigation-menu-font-weight;
        li {
          padding: 0 10px;
          height: 100%;
          position: relative;
          top: -5px;
          div {
            height: 100%;
            a {
              text-decoration: none;
              justify-content: center;
              display: flex;
              align-items: center;
              height: 100%;
              color: $header-navbar-text-color;
              
              padding: 0 $header-navbar-links-padding;
              
              @media (min-width: 1300px) {
                padding: 0 $header-navbar-links-padding;
            }
            
            @media (min-width: 992px) {
                padding: 0 #{$header-navbar-links-padding/2};
            }
  
              @at-root{  
                .scrolled &{
                  color: $header-scrolled-lnavbar-text-color;
                }
              }
              
           
            }
           
          } 
        
        }
  
      
      }
  
     
    }
  
    
    
    
  }
  