.main-slider-wrapper{
    position: relative;
    color:$white-color;

    .main-slider{
        margin-left: 10%;
        position: relative;
        z-index: 1;
        @media #{$md} {
            margin-left: 0;
        }
    }
    .floated-banner{
        position: relative;
    }
    .floated-text{
        position: absolute;
        bottom: 100px;
        background-color: rgba(0,0,0,0.2);
        padding: 25px;
        margin: 25px 100px;
        h4{
            font-size: 20px;
            font-weight: 300;
            @media #{$md} {
                font-size: 14px;
            }
        }
        h2{
            font-family: "Merriweather", Times, serif;
            font-size: 52px;
            @media #{$md} {
                font-size: 28px;
            }
        }
    }
    .main-slider-pagingInfo{
        position: absolute;
        right: 0;
        top: 0;
        margin: 25px 100px;
        font-family: "Merriweather", Times, serif;
            font-size: 52px;
            z-index: 2;
            @media #{$md} {
                font-size: 28px;
            }
    }
    .slick-dots{
        position: absolute;
        z-index: 1;
        bottom: 140px;
        right: 100px;
        width: auto;
        &:before{
                content: "";
                display: block;
                background-color: white;
                height: 2px;
                width: 47px;
                position: relative;
                left: -50%;
                top: 17px;
        }
    li {
        margin: 0 7px;
            button{
            border: 1px solid $white-color;
            border-radius: 50%;
            &:before{
                    font-size: 0;
                }
            }
            &.slick-active{
                button{
                    background-color: $white-color;
                    border: 1px solid transparent;
                }
            }
        }
    }
}