html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/forms";

//plugin 
//plugin--slick
@import "/src/scss/slick-fix";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
//plugin--select2

@import "~select2/dist/css/select2";

//demos-portal
@import "/src/scss/mixins";
@import "/src/scss/branding";
@import "/src/scss/layout/layout";

@import "/src/scss/style";

 