

body{
    font-family: $font_en;
    display: block;
    z-index: 10; 
    margin: 0 auto;
}
img{
    max-width: 100%;
}
$ProjectName:"ex-header";
@import "/src/scss/dev-header/dev-header";
@import "/src/scss/sliders/main-slider";
@import "/src/scss/sliders/secondary-slider";
@import "/src/scss/booking-form/booking-form";